doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel="stylesheet" type="text/css" href="#{context_path}/assets/css/main.css")  
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
  -var content = locals.content
    .navbar
      .container-fluid
        .navbar-header
          button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false")
            span.sr-only
            span.icon-bar
            span.icon-bar
            span.icon-bar
          // refactor THIS later  
          if content.language == 'pt'  
            a.navbar-brand(href="pt/")
              img.hidden-xs(src="#{context_path}/assets/images/brand.png")
              img.visible-xs(src="#{context_path}/assets/images/brand-xs.png")
          else
            a.navbar-brand(href="/")
              img.hidden-xs(src="#{context_path}/assets/images/brand.png")
              img.visible-xs(src="#{context_path}/assets/images/brand-xs.png")
        .collapse.navbar-collapse(id="navbar-collapse")
          ul.nav.navbar-nav
            if content.language == 'pt'
              li  
                a(href="./game.html")= content.nav.game  
              li  
                a(href="./products.html")= content.nav.product
              li  
                a(href="/project.html")= content.nav.project     
              li  
                a(href="./contact.html")= content.nav.contact 
            if content.language == 'en'
              li  
                a(href="game.html")= content.nav.game 
              li  
                a(href="products.html")= content.nav.product  
              li  
                a(href="project.html")= content.nav.project       
              li  
                a(href="contact.html")= content.nav.contact   
            if content.language == 'pt'
              li
                a.js-locale-change(data-language="en") change language to en
            if content.language == 'en'
              li
                a.js-locale-change(data-language="pt") change language to pt  
    block content
    include ./footer.jade
    script(src='#{context_path}/assets/js/bundle.js')
