extends ./includes/layout.jade
block content
  .container.text-center
    h1.mtd.heading-1= content.contactTitle
    h2.heading-2= content.contactDescription
    p= content.contactIntroText
    p email@email.com
    hr
    h2.heading-2= content.contactProjectCoordinator
    p Mônica Stein
    p email@email.com
    hr
    h2.heading-2= content.contactOurLocation
    p Universidade Federal de Santa Catarina
    p Campus Trindade
    p Bloco A, 1 Andar - Sala 112
    p Florianópolis, SC, Brasil - 8803-300
