extends ./includes/layout.jade
block title
  title= title.game
block content
  header.hero-image
    img.img-responsive(src="#{context_path}/assets/images/game_hero.jpg" alt="The Rotfather Game")
  .container.hero-text-container
    h1.heading-1= content.gameTitle
    .row: .col-md-8.col-md-offset-2
      h2.heading-2.mb= content.gameIntroText
    p= content.gametext1
    img.img-responsive.img-break(src="#{context_path}/assets/images/game/1.jpg")
    p= content.gametext2
    img.img-responsive(src="#{context_path}/assets/images/game1.jpg")
    img.img-responsive(src="#{context_path}/assets/images/game2.jpg")
  .container.hero-text-container
    h1.heading-1= content.conceptArtTitle
    h2.heading-2.mbd= content.conceptArtText
  each concept, index in content.concepts
    section.section.container
      h3.heading-3= concept.title
      p= concept.description
      img.img-responsive(src="#{context_path}/assets/images/concepts/"+index+".jpg")
