extends ./includes/layout.jade
block title
  title= title.project
  meta(name="description" content=description.home)
block content
  .container.text-center
    h1.heading-1= content.projectTitle
    .row: .col-md-6.col-md-offset-3
      img.img-responsive#project-logo(src="#{context_path}/assets/images/brand-black.png")
    h1.heading-1= content.projectTitle2
    .row: .col-md-8.col-md-offset-2
      p.mtf.display= content.projectSubtitle
    p= content.projectDescription
    h2.heading-3= content.projectCategories.design_management
    ul.list
      li Mônica Stein
      li Gabriel Comelli Werlich
      li Fernanda dos Santos Becker Jacintho
      li Felipe Joao Gheno
      li Felix Lu Han HUang
      li Rebeca Caroline Acco
      li Bruno Flesh de Albuquerque Fernandes
    h2.heading-3= content.projectCategories.animation
    ul.list
      li Agenor Furigo Neto
      li André Lazzari
      li Henrique Cardoso da Rosa
      li Ésley Turnes de Carvalho
      li Alex de Freitas Cardozo
      li Lucas Villaval
    h2.heading-3= content.projectCategories.art
    ul.list
      li Alex Freitas
      li Bruno Flesch
      li Ingrid Mitchell Brehm
      li Klewerton Bortoli
      li Lucas Villalva
      li Rebeca Caroline Acco
      li Wesley Alberto Alves
      li Yukatan Gautama
      li Paulo Henrique Scabeni
      li Neandro Marques Corradi
    h2.heading-3= content.projectCategories.sound
    ul.list
      li Alexandre Lunardelli
      li César Alves
    h2.heading-3= content.projectCategories.game
    ul.list
      li Ancilon Leuch Alencar
      li Gabriel Capeletti
      li Eduardo Barbetta
      li Luiz Antonio M. de Paula
      li Paulo Henrique Scabeni
    h2.heading-3= content.projectCategories.script
    ul.list
      li André Sichieri
      li Nino Piskorski
      li Pedro Barrionuevo
      li Rania Suwidan
    h2.heading-3= content.projectCategories.threeD
    ul.list
      li Fernanda Silveira
      li Gabriel Comelli Werlich
      li Maria Melo
      li Manuel Canavarros
    h2.heading-3= content.projectCategories.voice_over
    ul.list
      li Pedro Barrionuevo
      li João Ilha
    h2.heading-3= content.projectCategories.board_games
    ul.list
      li Rafael Arrivabene
    h2.heading-3= content.projectCategories.licensed_products
    ul.list
      li Gabriela Veiga
    h2.heading-3= content.projectCategories.translator
    ul.list
      li Maria Isabel de Castro Lima
    h2.heading-3= content.projectCategories.ux_ui
    ul.list
      li Marcos Vinícius Lehmkuhl
      li Fernanda Becker
    h2.heading-3= content.projectCategories.front_end
    ul.list
      li Marcos Vinícius Lehmkuhl
    h2.heading-3= content.projectCategories.press_advisor
    ul.list
      li Sara Soares
    
